@use "page.scss";

html, body {
  height: 100%;
  padding: 10px;
  padding-top: 0;
  overflow: auto !important;
}

p {
    font-weight: bold;
}

.expand {
  flex-grow: 1;
}

.sticky-row {
  position: sticky;
  top: 66px;
  z-index: 1;
  background: var(--pf-v5-global--BackgroundColor--100);
}